<mat-card>
    <mat-card-header>
        <mat-card-title>Cadastrar Usuário</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-form-field class="input" id="nome">
            <mat-label for="nome">Nome:</mat-label>
            <input matInput type="text" name="nome" [(ngModel)]="nome" />
        </mat-form-field>
        <mat-form-field class="input" id="sobrenome">
            <mat-label for="sobrenome">Sobrenome:</mat-label>
            <input matInput type="text" name="sobrenome" [(ngModel)]="sobrenome" />
        </mat-form-field>
        <mat-form-field class="input" id="cpf">
            <mat-label for="cpf">CPF:</mat-label>
            <input matInput type="text" name="cpf" [(ngModel)]="cpf" />
        </mat-form-field>
        <mat-form-field class="input" id="dataNascimento">
            <mat-label for="dataNascimento">Data de nascimento:</mat-label>
            <input matInput type="text" name="dataNascimento" [(ngModel)]="dataNascimento" />
        </mat-form-field>
        <mat-form-field class="input" id="email">
            <mat-label for="email">E-mail:</mat-label>
            <input matInput type="text" name="email" [(ngModel)]="email" />
        </mat-form-field>
        <mat-form-field class="input" id="senha">
            <mat-label for="senha">Senha:</mat-label>
            <input matInput type="text" name="senha" [(ngModel)]="senha" />
        </mat-form-field>
    </mat-card-content>
    <button mat-raised-button color="warn" (click)="cadastrar()">
        Cadastrar
    </button>
</mat-card>
